<ion-header>

    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <form [formGroup]="formularioLogin">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Duoc UC logo</ion-card-title>
            </ion-card-header>
        </ion-card>
        <br>
        <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input formControlName="nombre" placeholder="Escriba su usuario"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Escriba contraseña"></ion-input>
        </ion-item>
    </form>

    <ion-button>
        ingresar
    </ion-button>
</ion-content>
<ion-footer>

    <ion-toolbar colo="primary">
        <ion-button [routerLink]="['/creador']">
            registro
        </ion-button>

        <ion-button slot="end">
            <ion-button [routerLink]="['/register']">
                reestablecer contraseña
            </ion-button>
        </ion-button>
    </ion-toolbar>
</ion-footer>