<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Restrablecer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <form>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Duoc UC</ion-card-title>
            </ion-card-header>
        </ion-card>


        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>

        </ion-item>
    </form>
    <br>
    <ion-button>
        Recuperar
    </ion-button>

</ion-content>
<ion-footer>

</ion-footer>